.imgBox {
    transition: transform .2s; /* Animation */
    width: 195px;
    height: 195px;
    padding: 1.5%;
    margin: 0 auto;
}

.imgBox:hover
	{
		-moz-box-shadow: 0 0 5px #ccc;
		-webkit-box-shadow: 0 0 5px #ccc;
		box-shadow: 0 0 5px #ccc;
	}

.tooltip {
    position: relative;
    display: inline-block;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
